.tabulator {
    background-color: transparent;
    border: none;
}
.tabulator .tabulator-header .tabulator-col {
    background-color: #fff;
    border-right: 1px solid #fff;
}
.dark .tabulator .tabulator-header .tabulator-col {
   
}
.dark .tabulator-row {
    background-color: transparent;
}
.tabulator-row .tabulator-cell {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
/* Enables scrolling when top row set with frozenRows */
.tabulator-tableHolder {
    overflow-x: scroll;
    /* margin-bottom: -14px; cropped Hawaii */
}
.tabulator .tabulator-footer {
    background-color: transparent;
    border-right: 1px solid #fff;
}
.tabulator-row.tabulator-row-even {
    background-color: transparent;
}

.tabulator-selectable:hover { /* rows */
    background-color: #fafafa !important;
}
.dark .tabulator-selectable:hover { /* rows */
    background-color: #333 !important;
}
.tabulator-row.tabulator-selected {
    background-color: #ddd;
    border-bottom: 1px solid #999;
}
.dark .tabulator-row.tabulator-selected {
    background-color: #111;
}
.tabulator-row.tabulator-selected:hover {
    background-color: #ccc !important;
}
.dark .tabulator-row.tabulator-selected:hover {
    background-color: #000 !important;
}
.tabulator-header {
    max-height: 32px !important;
}
#tabulator-sample .tabulatorBar div:nth-child(3) {
    height: 6px !important; /* narrower bars */
}

/* pass clicks through to row so hash change can set checkbox without re-triggering hash change */
#tabulator-statetable .tabulator-row input[type='checkbox'] {
    pointer-events: none;
}
#tabulator-geotable .tabulator-row input[type='checkbox'] {
    pointer-events: none;
}

.tabulator-cell {
    font-size: 13px;
    height: 30px  !important; /* Prevents occasional excess height */
    padding-top: 6px !important;
}
@media (min-width: 1800px) {
    .tabulator-cell {
        font-size: 15px;
    }
}
.tabulator-header .tabulator-col-title {
    font-weight: 400;
    text-align: right;
}
.tabulator-header .tabulator-col:first-of-type .tabulator-col-title {
    text-align: left;
}
.tabulator-header .tabulator-col:nth-of-type(2) .tabulator-col-title {
    text-align: left;
}
.tabulator .tabulator-header .tabulator-col {
    background-color: #eee;
}