/*
Originates at https://neighborhood.github.io/localsite/css/base.css 
Used in localsite, modelearth, io, neighborhood, trees
*/

/*
html, body, div, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
u, i, center,
dl, dt, dd, ol,  
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Open Sans', 'Helvetica Neue', HelveticaNeue, calibri, arial, sans-serif;
}
*/


* {box-sizing: border-box;}
.hideMobile, .hideMobileWide {display:inline-block;}
.showMobile, .showMobileWide {display:none;}
.showGit {display:none;}
.local, .localonly {
  display:none; 
  background-image: 
     linear-gradient(45deg, 
        rgba(0,0,0,0.1) 25%, 
        transparent 25%),
     linear-gradient(-45deg, 
        rgba(0,0,0,0.1) 25%, 
        transparent 25%),
     linear-gradient(45deg, 
        transparent 95%, 
        rgba(0,0,0,0.1) 75%),
     linear-gradient(-45deg, 
        transparent 95%, 
        rgba(0,0,0,0.1) 75%);
  background-size: 3px 3px;
}
.local {padding:0 4px 0 4px; }
.localonly {padding:20px; }
svg{max-width:none;} /* Fix for embedding material icon map points in Drupal */

@media (max-width: 800px) {
  .hideMobile {display:none;}
  .showMobile {display:inline-block;}
}
@media (max-width: 900px) {
  .hideMobileWide {display:none;}
  .showMobileWide {display:inline-block;}
}
html,body { /* both are needed for map height in iframe */
  height: 100%;
}
body {
  margin: 0px;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-sizeX: 15px;
}
bodyX {
  font-size: 13.5px;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  
}
/* ul, li, */
li {
  /* margin-left:20px; */ /* impacts gd footer. Prevents bullets in rich-text editor. */
}
table {
  border-spacing:0px;
}
td {
  padding:0px;
  vertical-align: top;
}


input {
  /* padding-left:5px; */
  /* margin-right:2px; */
}
input, select {
  /* margin-bottom:8px; */
}

/*
input, textarea {
Creates gap on some image buttons. Might reactivate after search page graphic button and others changed.
*/
textarea {
    /* border:solid 1px #777; */
    border-color: rgb(238, 238, 238);
}
/* input needed below for search field. Might remove others if id conflicts arrise */
input, label, button, select, textarea {
  /* font-size: 13.5px; */
  /* font-weight: normal; */
  /* line-height: 20px; */
}
a {
  text-decoration: none;
}
/* conflicts with buttons */
a:link {
  color: #4091dd;
}
a:visited {
  color: #4091dd;
}

p {
  margin-top: 0px;
  margin-bottom: 14px;
  /*
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  */
  font-sizeX: 15px;
}

summary {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    color: rgb(66, 72, 79);
    font-size: 17px;
    font-weight: 100;
    line-height: 1.5;
}

h1,h2,h3,h4 {
  line-height: 1.5;
}
h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-family: Raleway, Lato, "Helvetica Neue", Helvetica, "Lato", sans-serif;
    colorX: rgb(77, 82, 89);
}
.h1-home {
  font-size: 28pt;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, "Lato", sans-serif;
  font-weight: 300;
  color: #5f5f5f;
  font-size: 34px;
  line-height: 40px;
  margin-top: 10px;
}
h2 {
  font-weight: 600;
  font-size: 1.4em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 14px;
  color: rgb(77, 82, 89);
}
/*
h2 a:visited {
  color: #0366d6;
}
*/
h3 {
  font-weight: 200; /* 100 is too light on pos energy */
  font-size: 1.27em;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 16px;
}
h4 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1em;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 3px;
  color: #333;
}
h5 {
  font-weight: 300;
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  color:#555;
  margin-left: 30px;
}
h6 {
  font-weight: 600;
  font-size: 0.95em;
  color: #333;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
}
sup {
  line-height: 0.8em;
  font-size: 0.6em;
}
@media print 
{
  .noprint {display: none; }
  /*
  body{margin-top:30px; color: #000; }
  */
}
@media screen {.printonly {display: none; }}

.content {
  max-width: 1140px;
  margin:0 auto;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
}
.contentpadding {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.content li {
  margin-left: -10px;
}
@media (min-width: 1400px) {
  .content {
    max-width: 1300px;
  }
}
@media (max-width: 1200px) {

  .content li {
    margin-left: -20px;
  }
}
@media (max-width: 500px) {
  .contentpadding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  position: relative;
  max-width: 1200px; /* max-width will conflict with sites that use bootstrap */
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}
/* delete */
.textColumns {
  margin-left:-22px;
  margin-right:-22px;
}
.textColumn {
  width:33.33%;
  float:left;
  margin-bottom: 0px;
}
.textColumnInside {
  padding-left: 22px;
  padding-right:22px; /* Matches .textColumns above */
  line-height: 1.55;
  color: #777;
  border: 1px solid rgba(255,255,255,0);
}
.textColumnTitle {
  font-size: 1.27em;
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 16px;
}
@media (max-width:980px) {
  .textColumn {
    width:100%;
  }
}

.pageColumns {
  margin-left:-22px;
  margin-right:-22px;
}
.pageColumn {
  width:33.33%;
  float:left;
  margin-bottom: 0px;
}
.pageColumnInside {
  padding-left: 22px;
  padding-right:22px; /* Matches .pageColumns above */
  line-height: 1.55;
  color: #777;
  border: 1px solid rgba(255,255,255,0);
}
.pageColumnTitle {
  font-size: 1.27em;
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 16px;
}
@media (max-width:980px) {
  .pageColumn {
    width:100%;
  }
}
.contentArea {
    margin: 0px; padding: 0px; 
    padding-left: 20px; padding-right: 20px;
    line-height: 1.4em;
}
.litePanel {
    background-color: #fff;
    overflow:auto;
}
.darkPanel {
    background-color: #ddd;
}
mark {
  padding:4px 8px 4px 8px;
  background-color: #ffc;
}
code {
  background-color: #eee;
  padding: 2px  5px;
}
content .js, pre code { /* Prevents .js from impacting js class within Drupal body tag */
  background-color: #eee;
  padding:15px;
  border-left: 4px solid #137AD1;
  margin-bottom: 22px;
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  /* white-space: pre-wrap; */ /* Causes Drupal to have large empty div's at top */
}
.link {
  color:#4091dd;
  /*
  font-family: 'Open Sans', 'Helvetica Neue', HelveticaNeue, calibri, arial, sans-serif; 
  */ /* thicker, darker */
  font-weight: 600;
}

.nav {
  list-style: none;
}
.nav>li>a {
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav>li>a:hover {
  background: #ddd;
}
.nav-right {
  float:right;
}
.nav-right ul li {
  float:left;
}
.header-navigation {
  background-color:#eceaeb;
  margin-bottom:0px; 
  -webkit-box-shadow: 0 4px 4px -2px #999;
  -moz-box-shadow: 0 4px 4px -2px #999;
  box-shadow: 0 4px 4px -2px #999;
  z-index:10; 
}
.main-content {
  margin-top: 40px;
  /* overflow:hidden; */  /* prevents footer from residing beside columns, but caused menu/accordion to be cut off. */
}
/*
#mainColumn img {
  width:100%;
}
*/
#rightColumn img {
  /* messed up /account page */
  /*
  width:100%;
  */
}
#footer {
  clear:both;
}

