/*
.darkLayout {
    background-color: #fff !important;
    color: #111 !important;
}
.darkLayout a {
	color: #0366d6 !important;
}
*/
.navLinks a {
	color: #000 !important;
}
.contentpadding a, .contentpadding a:link, .contentpadding a:visited {
    color: #0366d6;
}
/*
h1, h2, h3, h4, h5, h6 {
	color: #6f6f6f !important;
}
*/

/*
#main-container {
	background: #1a1a1a;
	background-color: #1a1a1a;
	color: #ccc;
}
#main-container  a:link, #main-container  a:visited {
  color: #8899ee;
}
#main-container  b a:link, #main-container  b a:visited {
  color: #ccc;
}
#main-container h1, #main-container h2, #main-container h3, #main-container h4, #main-container h5, #main-container h6 {
	color: #ccc;
}
*/