body {
	margin: 0px;
	font-family: Lato, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.sectionContent {
	font-family: 'Lato', sans-serif;
	font-family: Lato, sans-serif; /* not installed: NunitoSans-Regular */
	font-size: 14px;
	position: relative;
	max-width: 1100px;
	margin: 0 auto !important;
	float: none !important;
    font-size: 15px;
    height: auto;
    padding-left: 20px;
    padding-right: 25px;
	font-weight: 400;
}
#introText {
	overflow: auto;
	line-height: 22px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
#botConversation {
	float:left;
}
#mainCats {
	float:left;
	position:relative;
	padding-right:10px;
	padding-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	border-right: 1px solid #ddd;
}
#botPanel, #topPanel, #mapPanel, #mainframe {
	border: 1px solid #ccc;
	max-width: 950px;
	padding: 20px;
	margin-bottom: 20px;
}
.filterPanel_backgroundXXX {
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	height:80px;
	background-color: #fff;
	z-index: -1;
}
.filterPanel_fixed {
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index: 9999;
	pointer-events: none;
}
.filterPanel>div {
	pointer-events: auto;
}

#mapPanel {
	padding: 0px;
}

#topPanel {
	overflow:auto;
	overflow:hidden;
	clear:both;
	z-index: 200;
	padding-bottom: 20px;
	position: absolute;
	height:400px;
	background-color:#fff;
}
@media (max-width: 800px) {
	#topPanel {
		margin-top: 0px;
		position: absolute;
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
		z-index: 99999;
	}
}

#topPanelFooter {
	background: #eee;
	position: absolute;
	padding-top: 3px;
	height: 16px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: #888;
	font-size: 10px;
	cursor: pointer;
}
#topPanelFooter:hover {
	color:#333;
}
#subcatHeaderHolder {
	margin:14px 0 8px 0;
}
#subcatHeader {
	cursor: pointer;
}
#productCodeHolder {
	max-height: 400px;
	overflow:auto;
}
#productCatTitle {
	font-size: 18px;
	margin-bottom: 15px;
	overflow: auto;
}
#productSubcats {
	overflow:auto;
	max-height: 600px;
	background: #fff;
	padding-left: 10px;
}
#productSubcats > div {
	clear:both;
	padding-bottom: 7px;
}
#productSubcats > div > div:first-child {
	float:left;
	margin-right:20px;
}
#productSubcats > div > div:nth-child(2) {
	overflow:auto;
}
#productSubcats > div > div {
	/* prevent double click on checkbox */
	pointer-events: none;
}
.catHeader {
	colorX:#fff;
	backgroundX:#3B99FC;
	font-size: 18px;
	color:#555;
	padding: 7px 8px 7px 8px;
}
.catList > div {
	padding: 7px 12px 7px 18px;
	border: solid 1px #fff;
	border-radius: 6px;
}
.catList > div:hover {
	background: #f3f3f3;
	cursor: pointer;
}
#catListClone .catList {
	width:100%;
}
#hsCatList {
	padding-bottom: 14px;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}
#hsCatList > div {
	width: 23%;
	float: left;
	margin-right: 14px;
	padding: 4px 4px 4px 6px;
	font-size: 13px;
	box-sizing: border-box; 
	overflow: hidden;
	height:26px;
	line-height: 20px;
}
#hsCatList > div:hover {
    background: #f3f3f3;
	cursor: pointer;
}
#allProductCats {
	display: none;
}
.backArrow {
	font-size: 20px;
	margin-top: -4px;
	cursor: pointer;
	float:left;
}

.orangeButton {
    color: #fff;
    border: 1px solid #f47d22;
    background-color: #f47d22;
}
.orangeButton:hover {
	border: 1px solid #f36736 !important;
    background-color: #f36736 !important;
}
.lowerButton {
	border-radius: 7px;
	max-height: 14px;
}
#dataList {
	overflow: auto;
	position: relative;
	max-widthX: 400px;
}
.catListSelected {
	border: solid 1px #aaa !important;
	background-color: #fff;
    border-left: solid 5px #aaf !important;
} 
#mainframe {

}
#resultsPanel {
	line-height: 20px;
	display: none;
}
#dataList > div {
	margin-bottom: 30px;
}
#dataList > div > div {
	/* margin-left: 40px; */
}
#dataList > div > div > div:first-child {
	margin-left: 0px;
	font-size: 18px;
}
#dataGrid {
	border-right: 3px solid #ccc;
	display:none;
}
input[type="checkbox" i] {
	transform: scale(1.2);
	margin-right:8px;
}
iframe {
    display: block;
    border: none;
    /* min-height: 94vh; */ /* avoid for Google Yolo iframe login */
    width: 100%;
}
#catListHolder {
	padding-bottom: 20px;
}
#catListHolderShow {
	color:#fff;
	background:#357bcb; 
}
#catListHolderShow:hover {
	background: #0071e3;
}
@media (max-width: 800px) {
	#mainCats {
		width:100%;
		float: none;
		border-bottom: 2px solid #333;
		border-right: 0px;
	}
	#rightButtons {
		float: left !important;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#productSubcats {
		float:left;
	}
	#catListHolder {
		display: none;
	}
	#catListHolderShow {
		display: block;
	}
	.backArrow {
		display: inline;
	}
	.menu > div:first-child {
		cursor: pointer;
	}
	#hsCatList > div {
	    width: 100%;
	}
}


/* Determine which are needed. Copy to display repo. Used by location menu */

.filterArrow {
	position:absolute;
	right:0px;
	padding:6px 7px 0 0;
}

.filterUL {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1; /* Switch these 3 back to 2 after activating https for nearby geolocation lookup. */
	list-style: none;
	padding-left: 0;
	font-size: 12pt;
	margin-bottom: 0px !important;
}
.filterUL li.selected a {
	color: #000;
	/* font-weight: bold; */ /* Loads too slow when bold. Also too bold in community */
}
.filterUL li {
	padding: 8px;
	margin-left: -6px;
	width: 85px;
	margin-right: 10px;
	float: left;
}
.filterUL li:hover {
	background-color: #f6f6f6;
	border-radius: 5px;
    cursor: pointer;
}
.filterUL li a {
	color: #888;
	text-decoration: none;
}
.filterUL li a:hover {
    text-decoration: none;
}
.uparrow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	top: -10px;
	margin-left: -10px;
}
.uparrow-grey {
	border-bottom: 10px solid #aaa;
	z-index: 9998;
}
.uparrow-white {
	border-bottom: 10px solid #fff;
	margin-top: 1px;
	z-index: 9999;
}