/* /tools and /map/hubs */ 

  #map1 {
    height: 600px;
    height: 85vh;
    width: 100%;
  }
  
  .leaflet-touch .leaflet-bar {
     border:none;
     margin-left:30px;
  }
  .leaflet-touch .leaflet-bar a {
    width:38px !important;
    height:38px !important;
    font-size: 26px !important;
    color: #333;
    border-radius: 6px !important;
  }
  .leaflet-control-zoom-in {
    margin-bottom:6px;
    border:#bbb 2px solid !important;
    line-height: 34px !important;
  }
  .leaflet-control-zoom-out {
    border:#bbb 2px solid !important;
    line-height: 36px !important;
  }
  .leaflet-top > .info {
    background-color: rgba(33, 33, 33, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    min-width: 130px;
  }
  .leaflet-top > .info. b {
    color: #fff !important;
  }
  #legendHolder {
    position: absolute;
    background-color:rgba(33,33,33,0.5);
    background-color:rgba(255,255,255,0.85);
    color:#fff !important;
    bottom:0;
    right:0;
    font-size: 14px;
    z-index: 1000;
    z-index: 500; /* allows credits to cover bottom */
    overflow: scroll;
  }
  #allLegends div svg {
    overflow: visible;
    
  }

  .leaflet-control-container > div:first-child.leaflet-left {
    left: auto;
    right: 20px;
  }
  .leaflet-control-container > div:first-child.leaflet-top {
    top: auto;
    bottom: 40px;
    z-index: auto;
  }
  /* Layers */
  .leaflet-control-container > div:nth-child(2).leaflet-right {
    /* right: 10px; */
    /* left: auto; */
    left: 10px;
  }
  .leaflet-control-container > div:nth-child(2).leaflet-top {
    /* top: 10px; */
    /* bottom: auto; */
    bottom: 20px;
  }
  .leaflet-control-container > div:nth-child(4) {
    display: none;
  }

  #map1 .leaflet-popup {
    /* bottom: 17px !important; */  /* Apply when map points used for "google" material icons */
    /* Need to move map down more when popup is near top.  Default is -7px. */
  }
  #floatingButtons {
    display:none;
    height:40px;
    width:100%;
    position:fixed;
    bottom:0;
    background-color:#777;
    z-index:9999;
  }
  #flexwrapper {
    padding-topX: 40px;
  }
  #flexwrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #hublist {
    overflow: auto;
    width:56%;
  }
  #mapHolder {
    padding: 20px;
    width: 44%;
    z-index: 10; /* to exceed right column in external site */
    /* Show box for testing scroll */
    /* border: 1px solid #ccc; */

    position: relative;
    float:right;
  }
  .detail {
    position: relative;
    padding: 12px 8px 12px 12px;
    border: 0px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .detail:hover {
    background-color: #fcfcfc;
    cursor:pointer;
  }
  .detailActive {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(250, 250, 250);
    paddingX: 12px;
  }
  .detailCurrent {
    padding: 0px;
  }
  .detailCurrent:hover {
    background-color: none;
    cursor: auto;
  }

  .popMenu {
    border:1px solid #ccc;
    padding: 5px 0 5px 0;
    z-index: 10;
    background: #fff;
    position: absolute;
    top:0px;
    right:0px;
  }
  #listingMenu {
    
  }
  #listingMenu > div {
    padding: 6px 30px 6px 30px;
  }
  #listingMenu > div:hover {
    background: #eee;
  }
  .showItemMenu {
    font-size: 24px;
    cursor: pointer;
  }
  .showItemMenu:hover {
    cursor: pointer;
  }

  .mapHolderBottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .mapHolderFixed {
    position: fixed;
    z-index: 1;
    top: 95px;
    bottom: auto;
    widthX: 480px; /* Reset in dual-map.js */
  }
  @media (min-width: 1400px) {
    .mapHolderFixed {
      min-width: 600px;
    }
  }
  @media (max-width: 1300px) {
    .mapHolderFixed {
      width: 450px;
    }
  }
  @media (max-width: 1200px) {
    .mapHolderFixed {
      width: 380px;
    }
  }
  #sidemapbar {
    background-color: #ddd;
    background-color: #fff;
    position: relative;
    color: #555;
    font-size: 16px;
    min-height: 32px;
  }
  #sidemapMessage {

    padding: 10px;
    font-size: 12px;
  }

  @media (max-width: 800px) {

    .padding {
      padding: 20px;
    }
    #flexwrapper {
      display: block;
      box-sizing: border-box;
    }
    #hublist {
      width:auto;
    }
    .padding-left {
      padding-left: 30px;
    }
    #mapHolder {
      float: none;
      width: auto;
      margin-top: 70px;
      margin-bottom: 30px;
      padding: 0px;
    }
    #mapHolderInner {
      position: relative;
      width: auto;
    }
    .mapHolderCard {
      heightX:400px;
      margin-right: 30px;
      borderX: 0px solid #fff;
    }

    #hublist {
      margin-left: auto;
      margin-right: auto;
    }

    #floatingButtons {
      display:block;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 30px; 
      font-weight: 400;
    }
  }


.sidemapCard {
  displayX: none; /* Also reactivate in dual-map. */
}
#map2 {
  height:500px;
  border-radius: 18px;
}
#industriesX {
  display: none !important;
}
#mapHolder {
  /* background-color: rgb(250, 250, 250); */
}
#disclaimerText {
  /* To do: Apply height using Javascript when sidemap displayed. */;
  overflow: scroll;
}
#hublist {
  padding-right: 20px;
  margin-bottom: 15px;
}
#hublist, #tableSide {
  max-height: 750px;
}
.hublistFull {
  max-height: none !important;
}
#tableSide {
  overflow: auto;
}
#hublist-paddingX {
  padding-right: 20px;
  margin-right: 20px !important;
}

.editButton {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.editButton:hover {
  background-color: #efefef;
}

b {
  font-weight: 600;
}
.showMobile { /* For delayed css load */
  displayX:none;
}
label { /* override Drupal */
    font-size: inherit;
    display: inline;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    vertical-align: top;
}
#allLegends {
  color:#fff !important; 
}
#allLegends > .label {
  color:#fff !important; 
}
.topboxes {
  border:1px solid #eee;
  padding:10px;
  padding-left:15px;
  margin-bottom: 18px;
  overflow: auto;
  background: #fff;
}

#detaillist {
  overflow-wrap: break-word;
}

.legendLink {
    float:left;
}
.legendLinkRect {
  width:15px;
  height:15px;
  margin-right:5px;
  margin-top:3px;
  float:left;
}
.listTitle {
  font-size: 32px;
  margin:0px;
  border-bottom:0px
}
@media (max-width: 800px) {
  .legendLink {
    float:auto;
  }
  .listTitle {
    font-size: 26px;
  }
}
.outcomesbox span {
  float:right;
  padding-rightX:20px;
  font-weight: bold; /* the number 50 */
}
.outcomesbox div {
  width: 100%;
  border-top: 1px solid #fff;
}
.outcomesbox div div {
  white-space: nowrap;
}

.sideWidget {
  max-width: 400px;
  margin-left:20px;
  margin-right:20px;
}
.leftWidget {
  float:left;
  max-widthX:420px;
  max-widthX:500px;

  width:100%;
  max-width:2000px;

  margin-right:30px;
}

#catListClone div {
  font-size: 18px;
  line-height: 26px;
  border-bottom: 1px solid #ccc;
}
#catListClone div div {
  float:left;
  width:33.33%;
  overflow: hidden;
  border-right: 1px solid #ccc;
}
@media (max-width: 800px) {
  #catListClone div div {
    width:50%;
  }
}
@media (max-width: 500px) {
  #catListClone div div {
    width:100%;
  }
}

/* Delete, unable to override with show() in naics.js */
#industriesX {
    float:right;
    display:none;
    padding-left:20px;
    padding-bottom:0px;
    max-width:520px;
}

#industries {
  font-size: 15px;
  line-height: 1.55;
}

@media (max-width: 800px) {
  .leftWidget {
    width:100%;
    float: none;
    margin-right:0px;
  }
  .hideCatsMobile {
    display:none;
  }

  #industries {
    float:none;
  }
}
.showCats {
  display:block;
}
@media (max-width: 800px) {
  .showCats {
    width:100%;
    max-width: 100%;
  }
}
.column50 {
  width:250px;
  width:100%;
  float:left;
}
.column50mid {
  width:25px;
  float:left;
}
@media (max-width: 800px) {
  .column50 {
    max-width:400px;
    width:100%;
    float:none;
  }
  .column50mid {
    display: none;
  }
}
.widgetbar {
  background: #ddd;
  height:24px;
  max-height:24px;
  line-height: 18px;
  font-size: 13px;
  
  padding: 6px 0 0 10px;
}
.boxborder {
  border:1px solid #ddd;
  padding:10px;
  padding-left:16px;
  font-size: 14px;
}
.plus-minus {
  width:60px;
  opacity: .4;
}
.plus-minus:hover {
  opacity: 1;
}
#tableSide {
  float:left;
  displayX:none;
}