.menu-loaded {
    display: block !important;
}
.table-cell, .table-cell-mobile {
  display: table-cell;
  vertical-align: top;
  position: relative; /* Allows menu rollover/popups to overlap adjacent cell */
}
@media (max-width: 800px) {
  .table-cell {
    display: block;
    float: left;
  }
}
.moduleJS {
	/* better button fonts:  /localsite/partner-menu.html */
    font-family: 'Open Sans', 'Helvetica Neue', HelveticaNeue, calibri, arial, sans-serif;
}
.layerSection {
	min-width:  32px;
	min-height: 40px;
	color: #333;
	clear: both;
}
.layerSection.openMenu {
	min-width: 200px; /* So hideMenuNav() is not triggered too often by a narrow div */
}
.layerSectionClick {
    padding: 6px 8px 0px 12px;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    text-transform: none;
    white-space: nowrap;
}
@media (max-width: 1100px) {

	.sectionArrowHolder {
		display: none;
	}
	.revealButton {
		display: none;
	}
	.hideMenuPackage {
		display: none;
	}
}
.layerCheckboxes {
	/* min-width: 500px; */
	width: 100%;
	/* padding: 20px 4px 20px 20px; */
}
.layerCheckboxes .dontsplit {
	/* padding-bottom: 8px; */
}
.layerCheckboxes .first .dontsplit {
	marginX:0px !important;
	/* margin-right:10px !important; */
	paddingX:0px !important;
}
.layerCbRow {
	display:none;
	padding: 1px 0px 0px 0px;
	margin-left: 35px;
	min-height: 32px;
	color: #888;
	clear: both;
}
.sideMenuColumnNarrow .layerCbRow {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #333;
	width: 180px; /* To overlap sideMenuColumnNarrow */
}
.layerCbTitle {
	white-space:nowrap;
	margin: 4px 25px 4px 12px;
	font-size: 15px;
	pointer-events: none; /* Allow pass through */
	font-family: 'Open Sans Condensed', sans-serif;
}
/* Not sure why this does not set hover color */
.layerCbRow:hover {
	background: #ccc;
	cursor: pointer;
}
.sectionArrowHolder {
    float: right;
    padding-top: 12px;
}
.leftArrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0px 7px 8px;
	border-color: transparent transparent transparent #777;
	margin-top: -8px;
}
.leftArrow:hover {
	border-color: transparent transparent transparent #999;
}
.downArrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 8px 0 7px;
	border-color: #555 transparent transparent transparent;
	margin: -6px 0px 0 0;
}
.downArrow:hover {
	border-color: #999 transparent transparent transparent;
}

#partnerMenuHolder {
	min-width: 185px;
}
.sideMenuColumn {
		z-index: 1;
		min-width: 160px;
		background: rgb(238, 238, 238);
}
@media (min-width: 1401px) {
	.layerSectionTitle {
		display: block;
	}
}
@media (max-width: 600px) {
	#partnerMenuHolder {
		max-widthX: 100px; /* Less than 120px to trigger clicks without opening submenu */
	}
}

/* Narrow using class */
.sideMenuColumnNarrow { /* Applied with script. Also applied by scaling below. */
	min-width: 38px;
	max-width: 38px; 
}
.sideMenuColumnNarrow	.layerSection {
	white-space: nowrap;
	overflow: visible;
	float: left; /* For ideMenuNav(id) */
}
.sideMenuColumnNarrow	.layerSectionTitle {
	display: none;
}

.sideMenuColumnNarrow .layerSectionTitle {
	width: 180px; /* required for background color to be visible */
	color: #fff;
	background-color: #333;
	margin-top: -8px;
	margin-left:  -10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	border-bottom: 1px solid #fff;
}
.openMenu {
	margin-bottom: 12px;
}
@media (max-width: 1400px) {
	.sideMenuColumnWide .layerCbRow { /* Allow submenu to be hidden on resize without using javascript */
		display: none !important;
	}
	#partnerMenuHolder {
		min-width: 32px;
	}

	.sideMenuColumn {
		z-index: 1;
		min-width: 38px;
		/* max-width: 38px; Avoiding since page's .sidechildlist is injected. */
		max-width: 38px; 
		/*
		top: 0;
		bottom: 0;
		*/
		overflow: visible;
		background: rgb(238, 238, 238);
	}
	.layerSection {
		/* max-width: 38px; Avoid, else background is not visible. */
		white-space: nowrap;
		overflow: visible;
	}
	.layerSectionTitle {
		display: none;
	}
	.layerCbRow {
		display: none; /* hides on resize from wide to narrow */
	}
	.layerSection:last-child {
		margin-bottom: 0px;
	}
	.layerSectionIcon {
		float: initial;
		min-height: 20px;
	}
	.layerSectionClick {
		min-width: auto;
		padding-left: 8px;
	}
	.layerCbRowXXX {
		display:none !important;
	}
	.sectionArrowHolder {
		display:none;
	}
}
.sideListCell {
	border-right: 1px solid #ddd;
}
.sideList {
	margin: 20px;
	min-width: 200px;
	max-width: 300px;
}
.leftCell {
	padding-top: 20px;
}
@media (max-width: 800px) {
	.sideListCell {
		border-right: none;
	}
	.leftCell {
		max-width: 90%; /* Allows partnerAdmin menu to reside to the left on mobile */
	}
	.rightCell {
		width: 100%;
	}
}
.layerSectionOpenX {
	max-width: auto;
	overflow: visible;
	max-width: 200px; /* allow background color to be visible */
	background-color: #efefef;
	borderX: 1px solid #777;
	marginX:  -1px;
	margin-leftX: 0px;
	z-index: 100000;
}

.layerAction {
	clear:both;
	float:right;
	width: 100%;
	z-index: 9999;
	/* min-height: 34px; */
	/* border: 1px solid red; */
	cursor: pointer;
}
.layerActionActive {
	/* color: #3B99FC !important; */
}
.moduleJS .layerActionActive:before {
	color:#fff;
}
.layerActionIcon {
	margin-top: 2px;
	float:right;
	border-radius: 50%;
	width: 21px;
	height: 21px;
	margin-top: 12px;
	margin-right: 8px;
	/* background-color: #272727; */
}
.layerActionIcon:before {
	padding: 2px;
	line-height: 23px;
	font-size: 17px;
	color: #bbb;
	font-weight: 100;
	font-family: "Material Icons";
	content: "\E5D3"; /* Three dots */
}
.layerActionIconNoFeed:before {
	content: ""; /* Blank since no feed for layer. */
}
.layerActionActive {
	background-color: #3B99FC;
}
.layerActionActive:before {
	padding: 1px;
	font-size: 20px;
	color: #000;
	font-family: "Material Icons";
	content: "\E876"; /* checkbox */
	font-weight: 100;
}
.moduleJS .overlaysInSide .layerCbRow {
	position: relative;
}
.moduleJS .overlayAction {
	borderX: 1px solid red;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top:0px;
	width:30px;
	padding-right: 6px;
}
.layersCB {
	display: none;
}
.searchHeader {
	/* overflow: visible; */
}
.navClone {
	float: left;
	background-color: rgba(55, 55, 55, 0.8);
	margin:20px 0 20px 20px;
	display:none;
}
.navClone .layerSectionClick {
	display: none;
}
.navClone .layerCbRow {
	display: block;
}

.dropdown-menu-for-button {
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    background-clip: padding-box;
}

.dropdown-menu {
		position: absolute;
		display: none;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    background-clip: padding-box;
}
.dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
}
.dropdown-menu a:hover {
	background-color: #3076ae; /* For browsers that do not support gradients */
  	background-image: linear-gradient(#3887c6, #3076ae);
	color: #fff;
	text-decoration: none;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}



/* Open nav icons when rolling over. Originally Bootstrap. */
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;    
}
.nav-pills .dropdown-menu {
    margin-top: 0px;
}
.nav-pills {
		padding: 0px;
		margin: 0px;
    margin-right:3px;
    margin-bottom: 0px;
}

.navbar .nav.pull-right {
    float: right;
}
.nav-tabs>li, .nav-pills>li {
    float: left;
}
.dropdown {
    position: relative;
}
.nav {
    display: block;
}
.nav-pills li a {
    font-weight: normal;
}
.nav>li>a {
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-tabs>li>a, .nav-pills>li>a {
	text-decoration: none;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav>li>a {
    display: block;
}

