#detail_selection {
	margin-bottom: 12px;
}
#econ_list {
	max-width: 100%;
	overflow-x: scroll;
	overflow: auto;
}
#sector_list {
	display: table;
	width: 100%;
	font-size: 13px;
}
#sector_list .row {
	display: table-row;
}
#sector_list .row:first-of-type .cell, #sector_list .row:first-of-type .cell-right  {
	border-bottom: 1px solid #ddd;
	
}

#sector_list .cell {
	display: table-cell;
	padding-right: 15px;
}
#sector_list .cell2XX {
	display: table-cell;
	padding-right: 15px;
	text-align: center;
}
#sector_list .cell-right {
	display: table-cell;
	text-align: right;
	white-space: nowrap;
	padding-right: 12px;
}
#sector_list .cell, #sector_list .cell-right {
	padding-top: 4px;
	padding-bottom: 4px;
	height: 24px;
}
#sector_list .row:nth-of-type(2) .cell, #sector_list .row:nth-of-type(2) .cell-right  {
	padding-top: 10px;
	height: 30px;
}
#sector_list .cell-right div { /* removed */
	white-space: nowrap;
}
#sector_list .cell-right img {
	margin-left: 8px;
}
#sector_list div {
	margin-bottom: 5px;
}
#sector_list .cell-height {
	overflow: hidden;
	max-height: 16px;
}