.hideMobile, .hideMobileWide {display:block;}
.showMobile, .showMobileWide {display:none;}

#header {
	display: block !important;
}
.content {
	max-width: 1000px;
	margin:0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
@media (max-width: 800px) {
	.content {
	    padding-left: 20px;
	    padding-right: 20px;
	}
}
@media (max-width: 600px) {
	.hideMobile {display:none;}
	.showMobile {display:block;}
}
@media (max-width: 900px) {
	.hideMobileWide {display:none;}
	.showMobileWide {display:block;}
}
.headerHolderRollover {
	display: none;
}
body, html {
  height: 100%;
  margin: 0;
  fontX: 400 15px/1.8 "Lato", sans-serif;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #777;
  box-sizing: border-box;
}
.bgimg {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navLinks, .navLinks a {
    text-decoration: none;
    font-size: 16px;
    margin-right:8px;
    margin-left:8px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  display: inline-block;
}

h1 {
	font-size: 41px;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, "Lato", sans-serif;
}
h2 {
    font-weight: 200;
    color: #333;
    padding-top: 10px;
    margin-block-end: 0.5em;
}
h3 {
  font: 20px "Lato", sans-serif;
  line-height: 32px;
  color: #111;
}
.dark {
	color:#ddd;
	background-color:#282E34;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
	font-size: 16px;
}
.dark a {
	color:#fff;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg {
        background-attachment: scroll;
    }
}

#logoHolder {
	margin:8px 8px 0px 8px;
	font-family: 'Helvetica Neue', HelveticaNeue, calibri, arial, sans-serif;
}


/* Hide */
.listPanelSideBkgd, .rowDetailsCount, .topButtons, .listHeader, .bottomButtonHolder {
	display: none !important;
}
.rowDetailsLinkX {
	padding-right: 40px !important;
}
.rowDetailsLink img {
	float:left !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-right: 30px !important;
	background-size: cover !important;
	border-radius: 50% !important;
	width:150px !important;
	height:150px !important;
	min-width:150px !important;
	min-height:150px !important;
}
.rowDetailsLinkX {
	width:50% !important;
	float:left !important;
}
.listScroll {
	height: auto !important;
	overflow: visible !important;
}
.moduleBackground {
	background: transparent !important;
}
.listPanel {
	padding-left:40px;
}
.moduleJS .moduleCenterSides {
	box-shadow: none !important;
}
.iText {
	max-width:300px;
}
.iTextContainer {
	margin-right:30px
}
.textHolder {
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}
@media (max-width: 799px) {
	.textHolder {
		padding:0px;
		margin-left:10px;
	}
	.iText {
		max-width:inherit;
	}
	.iTextContainer {
		margin-right:0px
	}
	html h2 {
		font-size: 20px !important;
	}
}
html a {
	color:inherit;
}
.navButtons a {
	background: #444;
	color: #fff !important;
	borderX:1px solid #ccc;
	border-radius:28px;
	padding: 10px 14px;
	padding: 14px 18px;
	margin:6px;
	line-height: 62px;
	white-space: nowrap;
	font-size: 22px;
}
.navButtons a:hover {
	background: #555;
	cursor: pointer;
}

@media (max-width:450px) {
	.navButtons a {
		padding: 10px 16px;
		font-size: 18px;
	}
}

.twoButtons > a {
	background-color: #444;
}
.twoButtons > a:hover {
	background-color: #555;
}
.upperButtons {
	text-align: center;
	widthX:100%;

     
}
.upperButtonsHolder {
	position:relative; 
	opacity:0.75;
	background-image: url('img/header/atlantaskylinesmaller.jpg'); 
	min-height:70%; 
	padding-top:12%; 
	padding-bottom:5%
}
.twoButtonsHolder {
	height:460px;
	min-height:260px;

	height:250px;
	min-height: 250px !important;

	padding-top:50px;
	width:100%; 
	text-align: center; 
	background:#333; 
	background-image: url('img/header/typography-dark-short.jpg');
}
@media (max-width:650px) {
	.upperButtonsHolder {
		padding-top:22%; 
	}
	.upperButtons > div {
		width:300px;
	}
	.twoButtonsHolder {
		height:360px;
		min-height: 260px !important;

		height:250px;
		min-height: 250px !important;
	}
}
.roundButtons {
	background: #000;
	font-size: 24px;
	min-width: 300px;
	padding: 14px 20px 14px 20px;
	margin:0px 12px 20px 12px;
	display: inline-block;
	border-radius: 40px;
	color:#fff !important;
}
.roundButtons:hover {
	background: #222;
	cursor: pointer;
	
}

.twoButtonsHolder a {
	padding: 12px 18px 12px 18px;
}

/* HEADER */
.neighborhoodHeaderLogo {
	height:25px;
	margin:30px 10px 4px 30px
}
.showMenu:hover {
	cursor: pointer;
}

#menuHolder {
	height:100%;
	position:fixed;
	right:0px;

	margin-leftX:-10px;
	overflow: auto;
	background: #fff;

	width:250px;
	margin-right:-250px;
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    box-sizing: border-box;
    z-index: 9999;
}
#menuTop {
	margin-left:20px;
}
#menuNav {
	margin-top:20px;
}
#menuNav a {
	display: block;
	padding-left: 40px !important;
	padding-top: 15px !important;
	min-height: 50px;
	box-sizing: border-box;
}
#menuNav a:hover {
	background-color: #ddd;
}
@media (max-width: 1199px) {
	#menuNav a {
		font-size:18px;
		font-weight: 500;
		color: #fff;
	}
	#menuNav a:hover {
		background-color: #000;
	}
}

@media (max-width: 600px) {
	#menuNav a {
		font-size:20px;
	}
}
#menuHolder a {
	padding: 10px;
	text-decoration: none;
}
.hideMenu {
    floatX:right;
    margin-top:15px;
    margin-right:-20px;
    cursor:pointer;
    color: #AEAEAE;
    border: 2px solid #AEAEAE;
    border-radius: 30px;
    backgroundX: #605F61;
    font-size: 32px;
    font-weight: 100;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    width:17px;
    position: relative;
}
.hideMenu:hover {
	color:#fff;
	border-color: #fff;
}
.hideMenu:after {
	position: absolute;
  	top: 10px;
  	left: 2px;
  	align-content: center; /* no effect, delete */
    content: "×";
}
/* @media handheld { */
@media only screen and (max-width: 479px) { /* Since Lato font not available on Android */
	.hideMenu:after {
	  	top: 12px;
	  	left: 4px;
	}
}
/* END HEADER */

#footer {
	color: #777;
    background-color: #FAFAFA;
    clear: both;
    padding: 25px 30px 25px 30px;
    margin-top: 50px;
    border-top: 1px solid #eee;
    height:70px;
    box-sizing: border-box;
}
#footer a {
	text-decoration: none;
}
.footer-bottomX {
	position: fixed;
	bottom: 0px;
	width:100%;
}
